.tile1{
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: lightblue;
    border: 8px solid black;
    float:left;
    text-align: center;
    line-height: 150px;
}
.tile2{
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: lightblue;
    border: 8px solid black;
    float:left;
    text-align: center;
    line-height: 150px;
}
.tile3{
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: lightblue;
    border: 8px solid black;
    float: left;
    text-align: center;
    line-height: 150px;
}
.tile4{
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: lightblue;
    border: 8px solid black;
    float:left;
    text-align: center;
    line-height: 150px;
}
.tile5{
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: lightblue;
    border: 8px solid black;
    float: left;
    text-align: center;
    line-height: 150px;
}
.tile6{
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: lightblue;
    border: 8px solid black;
    float:left;
    text-align: center;
    line-height: 150px;
}
.tile7{
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: lightblue;
    border: 8px solid black;
    float: left;
    text-align: center;
    line-height: 150px;
}
.tile8{
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: lightblue;
    border: 8px solid black;
    float:left;
    text-align: center;
    line-height: 150px;
}
.tile0{
    width: 30%;
    height: 150px;
    font-size: 60px;
    background: lightblue;
    border: 8px solid black;
    float:left;
    text-align: center;
    line-height: 150px;
}


